body {
  background-color: #121212;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, Open-Sans, Roboto, Helvetica, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: rgba(53, 32, 7, 0.5);
  --overlay: rgba(19, 11, 2, 0.4);
  --grey-100: #dedede;
  --accent-yellow: #e1ad01;
  --accent-pink: #ad586f;
  --background-launches: #121212;
  --level-one: #222222;
  --level-two: #272727;
  --level-three: #2c2c2c;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 6.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/*  STYLING MAIN   */

.main-wrapper {
  display: flex;
  padding: 5% 10%;
  height: 100vh;
  background-image: url(./images/launch.jpg);
  background-blend-mode: multiply;
  background-color: var(--background);
  color: var(--grey-100);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rocket {
  margin: 1rem 2rem 2rem 1rem;
  background-color: var(--overlay);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.btn-wrapper {
  display: flex;

  justify-content: flex-start;
}

.btn-sort {
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
}
.rocket-title {
  text-transform: uppercase;
}

.left-main {
  padding: 4rem 4rem 4rem 2rem;
  max-width: 45%;
}

.right-main {
  padding: 6rem 4rem 4rem 2rem;
  max-width: 45%;
}

.quote {
  color: var(--accent-pink);
}

.author {
  font-size: 1rem;
}

.btn {
  background-color: transparent;
  color: #fff;
  position: relative;
  min-width: 130px;
  padding: 1rem;
  margin: 30px 0 0;
  border: 1px solid #fff;
}

.btn .text {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
}

/*   STYLING HEADER   */

.header-wrapper {
  background-color: var(--overlay);
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 4rem 2.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
}

.logo {
  width: 16rem;
  padding-top: 1rem;
}

.twitter {
  width: 2rem;
  filter: invert(70%);
}

.spacex-home {
  text-decoration: none;
  filter: invert(70%);
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
}

/*  STYLING LAUNCHES  */

.launch-wrapper {
  padding: 5% 10%;
  /* height: 100vh; */
  width: 100vw;
  background-color: var(--background-launches);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  color: var(--grey-100);
}

.launch {
  padding: 3rem;
  transform: scale;
  transition-property: all;
  transition-duration: 0.4s;
  position: relative;
  border-radius: 8px;
  background-color: var(--level-three);
}

.launch:hover {
  background-color: var(--level-two);
  transform: scale(1.02);
  cursor: pointer;
}

/*   LAUNCHPADS STYLING   */

.back-button {
  top: 0;
  left: 0;
  position: absolute;
  margin: 50px;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.back-icon {
  width: 45px;
  margin: 5px;
  padding-right: 5px;
}
/*   STYLING FOOTER   */

.footer-wrapper {
  width: 100%;
  background-color: var(--overlay);
  display: flex;
  bottom: 0;
  position: fixed;
  padding: 2rem 2rem 2rem 2rem;
  justify-content: center;
}

.aleksa {
  display: flex;
  color: var(--grey-100);
}

@media (max-width: 767px) {
  /*  HEADER STYLES  */

  .logo {
    width: 7rem;
    padding-top: 1rem;
  }

  .twitter {
    width: 1rem;
    filter: invert(70%);
  }

  /*  MAIN STYLES */

  .main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .left-main {
    max-width: 100%;
    padding: 5rem 2.5rem 2rem 2.5rem;
  }

  .right-main {
    max-width: 100%;
    padding: 2rem 2rem 8rem 1rem;
  }

  h1 {
    font-size: 3rem;
    padding-top: 2rem;
  }

  h4 {
    font-size: 17px;
  }

  p {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .rocket {
    margin: 1rem;
  }

  /*   FOOTER STYLING   */

  .footer-wrapper {
    padding: 1rem;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .logo {
      width: 7rem;
      padding-top: 1rem;
    }

    .twitter {
      width: 1rem;
      filter: invert(70%);
    }

    /*  MAIN STYLES */

    .main-wrapper {
      display: flex;
      flex-direction: row;
      padding: 1rem 1rem;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .left-main {
      max-width: 45%;
      padding: 5rem 2.5rem 2rem 2.5rem;
    }

    .right-main {
      max-width: 45%;
      padding: 2rem 2rem 2rem 1rem;
    }

    h1 {
      font-size: 2rem;
      padding-top: 2rem;
    }

    h4 {
      font-size: 17px;
    }

    p {
      font-size: 14px;
      line-height: 1.5rem;
    }

    .rocket {
      margin: 1rem;
    }

    /*   FOOTER STYLING   */

    .footer-wrapper {
      padding: 1rem;
    }
  }
}
