body {
  background-image: url(./images/launch.jpg);
  /* background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%); */
  background-blend-mode: multiply;
  background-color: var(--background);
  color: var(--grey-100);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, Open-Sans, Roboto, Helvetica, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: rgba(53, 32, 7, 0.5);
  --overlay: rgba(19, 11, 2, 0.4);
  --grey-100: #dedede;
  --accent-yellow: #e1ad01;
  --accent-pink: #ad586f;
}

a:link {
  text-decoration: none;
}

h1 {
  /* margin-top: 1rem; */
  font-size: 6.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/*  STYLING MAIN   */

.main-wrapper {
  display: flex;
  padding: 5% 10%;
  max-width: 1440px;
  height: 100vh;
}

.rocket {
  margin: 1rem 2rem 2rem 1rem;
}

.rocket-title {
  text-transform: uppercase;
}

.left-main {
  padding: 4rem 4rem 4rem 2rem;
  max-width: 45%;
}

.right-main {
  padding: 6rem 4rem 4rem 2rem;
  max-width: 45%;
}

.quote {
  color: var(--accent-pink);
}

.author {
  font-size: 1rem;
}

.btn {
  background-color: transparent;
  color: #fff;
  position: relative;
  min-width: 130px;
  padding: 1rem;
  margin: 30px 0 0;
  border: 2px solid #fff;
}

.btn .text {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
}

/*   STYLING HEADER   */

.header-wrapper {
  background-color: var(--overlay);
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 4rem 2.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
}

.logo {
  width: 14rem;
  filter: invert(90%);
}

.spacex-home {
  text-decoration: none;
  filter: invert(70%);
}

/*   STYLING FOOTER   */

.footer-wrapper {
  width: 100%;
  background-color: var(--overlay);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  padding: 2rem 2rem 2rem 2rem;
  /* z-index: 2; */
}
